<header>
    <nav class="header-nav">
        <a href="/" class="header-title">Mybrary</a>
        <% if(locals.user){ %>
            <ul>
                <li class="header-link"><a href="/social">Social</a></li>
                <li class="header-link"><a href="/authors">Authors</a></li>
                <li class="header-link"><a href="/books">Books</a></li>
                <li class="header-link"><a href="/user/profile">Profile</a></li>
                <li class="header-link"><a href="/user/settings"><i class="fas fa-cog"></i></a></li>
            </ul>
        <% } %>
    </nav>
</header>
