<h2 class="page-header">Login</h2>

<form action="/user/login" method="post">
    <div class="form-row">
        <div class="form-item">
            <input type="text" name="username" placeholder="Username">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <input type="password" name="password" placeholder="Password">
        </div>
    </div>
    <div class="form-row form-row-end">
        <label><a class="register-label" href="/user/register">Im not register</a></label>
        <button class="btn btn-primary">Signin</button>
    </div>
</form>