<h2 class="page-header">Register</h2>

<form action="/user/register" method="post">
    <div class="form-row">
        <div class="form-item">
            <input type="text" name="username" placeholder="Username">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <input type="password" name="password" placeholder="Password">
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-item">
            <input type="password" name="repeatPassword" placeholder="Repeat password">
        </div>
    </div>
    
    <div class="form-row form-row-end">
        <a class="register-label" href="/user/login">I am register</a>
        <button type="submit" class="btn btn-primary">Signup</button>
    </div>
</form>